.ProDest {
    padding: 1rem;
    margin: 2rem;
    font-size: x-large;
    background-image: linear-gradient(rgb(44, 41, 41), rgb(218, 255, 5));

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 10px;
        border: solid 2px green;
        border-radius: 20px;

        &:hover {
            font-size: 2rem;
            transition: .5s;
            color: rgb(255, 255, 255);
        }
    }
}
.sponsor{
    &:hover {
        font-size: 4rem;
        transition: .5s;
    }
}