$fondo-total: url(../assets/17973908.jpg);
$letra:(
    #FF9F29
);
$colores: (
    color:$letra,
    fondoPa:rgb(0, 0, 0),
);

@mixin Fondo-texto {
    background-color: map-get($colores, fondoPa);
    margin-bottom: 2rem;
    color: map-get($colores, color);
    text-align: center;
    font-size: 1rem;

}