    /*import*/
@import "Prodest";
@import "Variables";
/*import*/

#BackIma {
    background-image: $fondo-total ;
    background-repeat: no-repeat;
}
.PieDePagina{
    ul{
        li{
            list-style: none;
           color: rgb(166, 255, 0);
        }
    }
    
}
.DescrIng{
    background-color:map-get($colores, fondoPa);
    margin-bottom: 2rem;
    .PaIng{
        @extend .DescrIng;
        color:map-get($colores, color);
        text-align: center;
        font-size: 1rem;
     }                           

}
.TextLog{
    @include Fondo-texto;
}
