    /*import*/
    @import "Prodest";
    @import "VariablesMias";
    /*import*/

    #BackIma {
        background-image: $fondo-total ;
    }

    .PieDePagina {
        color: $letra;

    }

    .DescrIng {
        background-color: map-get($colores, fondoPa);
        margin-bottom: 2rem;

        .PaIng {
            @extend .DescrIng;
            color: map-get($colores, color);
            text-align: center;
            font-size: 1rem;
        }

    }

    .TextLog {
        @include Fondo-texto;
    }